.inversiones-list {
    .inversiones-item{
        background-color: #fafafa;
        padding: 10px 1rem;
        border-radius: 1rem;
        box-shadow: 1px 10px 19px -16px rgba(86,54,54,0.91);
-webkit-box-shadow: 1px 10px 19px -16px rgba(86,54,54,0.91);
-moz-box-shadow: 1px 10px 19px -16px rgba(86,54,54,0.91);
    }
}