<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if(loading()) {
    <ion-spinner name="bubbles"></ion-spinner>
  }
  
  @if(!loading()) {
    <div>
      <div class="d-flex justify-content-between m-2 align-items-center">
        <h2>Criptomonedas</h2>
        <div class="d-flex align-items-center">
          <ion-button fill="clear" size="small" (click)="mostrarValores.set(!mostrarValores())" aria-label="Alternar visibilidad de valores">
            <ion-icon [name]="mostrarValores() ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
          </ion-button>
          <ion-button id="click-trigger">
            <ion-icon name="help-circle-outline"></ion-icon>
          </ion-button>
        </div>
      </div>

      <ion-popover trigger="click-trigger" triggerAction="click">
        <ng-template>
          <ion-content class="ion-padding">Agregue la criptomoneda segun la tenencia que tenga.
            Le mostraremos el total según el precio del momento</ion-content>
        </ng-template>
      </ion-popover>

      <ion-item>
      <ion-label>Ordenar por</ion-label>
      <ion-select [(ngModel)]="criterioCripto">
        <ion-select-option value="mayorPrecio">Mayor precio</ion-select-option>
        <ion-select-option value="menorPrecio">Menor precio</ion-select-option>
        <ion-select-option value="mayorTenencia">Mayor tenencia</ion-select-option>
        <ion-select-option value="menorTenencia">Menor tenencia</ion-select-option>
        <ion-select-option value="mayorValor">Mayor valor total</ion-select-option>
        <ion-select-option value="menorValor">Menor valor total</ion-select-option>
        <ion-select-option value="nombre">Nombre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list class="card-list">
        @for (cripto of criptos() | ordenar:criterioCripto; track $index) {
          <ion-item >
            <ion-label class="card-item">
              <strong>{{ cripto.name }}</strong> ({{ cripto.symbol | uppercase }}) - {{cripto.platform}}<br>
              Precio: {{ cripto.price | currency:'USD' }}
              @if (mostrarValores()) {
                Tenencia: {{ cripto.hold || 0 }} {{ cripto.symbol | uppercase }}<br>
                Valor total: {{
                  (cripto.hold || 0) * cripto.price | currency:'USD'
                }}
              } @else {
                Tenencia: ••••••<br>
                Valor total: ••••••
              }
            <div class="d-flex">
                <ion-button fill="clear" size="small" color="primary" (click)="cargarFormCripto(cripto)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="danger" (click)="showModalEliminar(cripto)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-label>
          </ion-item>
        }
      
    </ion-list>
    <ion-item color="light">
      <ion-label>
        
        <strong>Total Criptomonedas:</strong>
        @if (mostrarValores()) {
        {{ totalCriptos() | currency:'USD' }}
        } @else {••••••}
      </ion-label>
    </ion-item>
    <div class="d-flex justify-content-between m-2 align-items-center">
      <h2>Instrumentos</h2>
      <ion-button id="click-acciones">
          <ion-icon name="help-circle-outline"></ion-icon>
        </ion-button>
        <ion-popover trigger="click-acciones" triggerAction="click">
          <ng-template>
            <ion-content class="ion-padding">Agregue el instrumento que haya comprado. 
              Pueden ser bonos, acciones o CEDEARs. 
              Eliga pesos o dolares y 
              se lo mostraremos en dolar MEP que es el cambio que utilizan las plataformas</ion-content>
          </ng-template>
        </ion-popover>
    </div>
    <ion-item>
      <ion-label>Ordenar por</ion-label>
      <ion-select [(ngModel)]="criterioAccion">
        <ion-select-option value="mayorPrecio">Mayor precio</ion-select-option>
        <ion-select-option value="menorPrecio">Menor precio</ion-select-option>
        <ion-select-option value="mayorTenencia">Mayor tenencia</ion-select-option>
        <ion-select-option value="menorTenencia">Menor tenencia</ion-select-option>
        <ion-select-option value="mayorValor">Mayor valor total</ion-select-option>
        <ion-select-option value="menorValor">Menor valor total</ion-select-option>
        <ion-select-option value="platform">Plataforma</ion-select-option>
        <ion-select-option value="nombre">Nombre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list class="card-list">
        @for (accion of acciones() | ordenar:criterioAccion; track $index) {
          <ion-item >
            <ion-label class="card-item">
              <strong>{{ accion.name || accion.symbol }}</strong> ({{ accion.symbol }}) - {{accion.platform}}<br>
              Precio: {{ accion.price | currency:'USD' }}
              @if (mostrarValores()) {
                - Tenencia: {{ accion.hold || 0 }} {{ accion.symbol }}<br>
                Valor total: {{
                  (accion.hold || 0) * accion.price | currency:  'USD'
                }}
              } @else {
                - Tenencia: ••••••<br>
                Valor total: ••••••
              }
              <div class="d-flex">
                <ion-button fill="clear" size="small" color="primary" (click)="cargarFormAccion(accion)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="danger" (click)="showModalEliminar(accion)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </div>
            </ion-label>
          </ion-item>
          
        }
      
    </ion-list>
    <ion-item color="light">
  <ion-label>
    <strong>Total Acciones:</strong>
    @if (mostrarValores()) {
      {{ totalAcciones() | currency:'USD' }}
    } @else {••••••}
    
  </ion-label>
  </ion-item>
  
  <ion-item color="primary">
    <ion-label>
      <strong>Total General:</strong>
      @if (mostrarValores()) {
      {{ totalGeneral() | currency:'USD' }}
      }@else {••••••}
    </ion-label>
  </ion-item>
  @if (!mostrarFormulario()) {
    <ion-button expand="block" color="primary" (click)="abrirFormularioNuevo()">
      Agregar inversión
    </ion-button>
  }
  
    </div>
  }
  <app-notification [message]="toastMessage()" [colorType]="colorType"></app-notification>
</ion-content>

<ng-template #formTemplate>
  <app-form
    [fields]="formFields"
    [idValue]="currentItemId()"
    [initialData]="formData"
    (submitForm)="submitForm($event)"
    (cancelar)="cerrarFormulario()">
  </app-form>
</ng-template>

<app-dynamic-modal
  [show]="mostrarFormulario()"
  [title]="modalTitle"
  [template]="formTemplate"
  (cerrar)="mostrarFormulario.set(false)">
</app-dynamic-modal>

<app-dynamic-modal
  [show]="mostrarModalEliminar"
  [title]="'Confirmar eliminación'"
  [template]="confirmarTemplate"
  [footerButton]="true"
  (aceptar)="instrumentoAEliminar.tipo == 'cripto'? eliminarCripto(instrumentoAEliminar.id) : eliminarAccion(instrumentoAEliminar.id)"
  (cerrar)="mostrarModalEliminar = false">
</app-dynamic-modal>

<ng-template #confirmarTemplate let-inversion="inversion">
  <p>¿Estás seguro que deseas eliminar la inversion <strong>{{ instrumentoAEliminar.name }}</strong>?</p>
</ng-template>