<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
  <ion-button expand="block" color="primary" (click)="mostrarFormulario = !mostrarFormulario">
    {{ mostrarFormulario ? 'Cancelar' : 'Agregar inversión' }}
  </ion-button>
  <app-form *ngIf="mostrarFormulario" [fields]="formFields" (submitForm)="agregarInversion($event)"
    (cancelar)="mostrarFormulario = false">
  </app-form>

  <div *ngIf="!loading">
    <h2>Criptomonedas</h2>
    <ion-item>
      <ion-label>Ordenar por</ion-label>
      <ion-select [(ngModel)]="criterioCripto">
        <ion-select-option value="mayorPrecio">Mayor precio</ion-select-option>
        <ion-select-option value="menorPrecio">Menor precio</ion-select-option>
        <ion-select-option value="mayorTenencia">Mayor tenencia</ion-select-option>
        <ion-select-option value="menorTenencia">Menor tenencia</ion-select-option>
        <ion-select-option value="mayorValor">Mayor valor total</ion-select-option>
        <ion-select-option value="menorValor">Menor valor total</ion-select-option>
        <ion-select-option value="nombre">Nombre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let cripto of criptos | ordenar:criterioCripto:holdings">
        <ion-label>
          <strong>{{ cripto.name }}</strong> ({{ cripto.symbol | uppercase }})<br>
          Precio: {{ cripto.current_price | currency:'USD' }}
          Tenencia: {{ holdings[cripto.symbol] || 0 }} {{ cripto.symbol | uppercase }}<br>
    Valor total: {{
      (holdings[cripto.symbol] || 0) * cripto.current_price | currency:'USD'
    }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item color="light">
      <ion-label>
        <strong>Total Criptomonedas:</strong>
        {{ totalCriptos | currency:'USD' }}
      </ion-label>
    </ion-item>

    <h2>Acciones</h2>
    <ion-item>
      <ion-label>Ordenar por</ion-label>
      <ion-select [(ngModel)]="criterioAccion">
        <ion-select-option value="mayorPrecio">Mayor precio</ion-select-option>
        <ion-select-option value="menorPrecio">Menor precio</ion-select-option>
        <ion-select-option value="mayorTenencia">Mayor tenencia</ion-select-option>
        <ion-select-option value="menorTenencia">Menor tenencia</ion-select-option>
        <ion-select-option value="mayorValor">Mayor valor total</ion-select-option>
        <ion-select-option value="menorValor">Menor valor total</ion-select-option>
        <ion-select-option value="nombre">Nombre</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-list>
      <ion-item *ngFor="let accion of acciones | ordenar:criterioAccion:holdingsAcciones">
        <ion-label>
          <strong>{{ accion.name || accion.symbol }}</strong> ({{ accion.symbol }})<br>
          Precio: {{ accion.price | currency:'USD' }}
          Tenencia: {{ holdingsAcciones[accion.symbol] || 0 }} {{ accion.symbol }}<br>
      Valor total: {{
        (holdingsAcciones[accion.symbol] || 0) * accion.price | currency:'USD'
      }}
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-item color="light">
  <ion-label>
    <strong>Total Acciones:</strong>
    {{ totalAcciones | currency:'USD' }}
  </ion-label>
  </ion-item>
  
  <ion-item color="primary">
    <ion-label>
      <strong>Total General:</strong>
      {{ totalGeneral | currency:'USD' }}
    </ion-label>
  </ion-item>

    <!-- <h2>Bonos</h2>
    <ion-list>
      <ion-item *ngFor="let bono of bonos">
        <ion-label>
          <strong>{{ bono.symbol }}</strong><br>
          Precio: {{ bono.price | currency:'USD' }}
        </ion-label>
      </ion-item>
    </ion-list> -->
  </div>
</ion-content>
