<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ahorros </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrap-content">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Ahorros</ion-title>
      </ion-toolbar>
    </ion-header>
    

    <div class="categorias-lista card-list">
      <ul>
        @for (categoria of categorias(); let i = $index; track categoria.id) {
          <li class="card-item">
            <div class="d-flex justify-content-between" style="flex-grow: 1;">
              <span class="categoria-nombre">{{ categoria.name }}</span>
              <span class="categoria-descripcion">{{ categoria.description }}</span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span class="categoria-tipo" [ngClass]="categoria.type"
                >{{ categoria.type | titlecase }}</span
              >
              <span class="categoria-cantidad"
                >{{ categoria.quantity | currency:'USD' }}</span
              >
              <div class="d-flex">
              <ion-button fill="clear" size="small" color="primary" (click)="editarCategoria(categoria, i)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="danger" (click)="eliminarCategoria(categoria.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </div>
            </div>
            
          </li>
        }
      </ul>
    </div>
    <h2 class="chart-title">Resumen General</h2>
    <app-bar-chart [categorias]="categorias()" chartType="bar"></app-bar-chart>
    <h2 class="chart-title">Ingresos</h2>
    <app-bar-chart [categorias]="ingresos" chartType="doughnut">
    </app-bar-chart>
    <h2 class="chart-title">Gastos</h2>
    <app-bar-chart [categorias]="gastos" chartType="doughnut"> </app-bar-chart>
  </div>
  <ion-button expand="block" color="primary"  (click)="mostrarFormulario ? cerrarFormulario() : abrirFormularioNuevo()">
      {{ mostrarFormulario ? 'Cancelar' : 'Agregar' }}
    </ion-button>
  <app-notification [message]="toastMessage()" [duration]="4000"></app-notification>
</ion-content>
<ng-template #formTemplate>
  <app-form
    [fields]="formFields"
    [defaultButton]="false"
    [idValue]="editarId"
    [initialData]="formData"
    (submitForm)="agregarModificarCategoria($event)"
    (cancelar)="cerrarFormulario()"
  >
  </app-form>
</ng-template>

<ng-template #confirmarEliminar let-categoria="categoria">
  <p>¿Estás seguro que deseas eliminar la categoría <strong>{{ categoria?.name }}</strong>?</p>
</ng-template>

<app-dynamic-modal
  [show]="mostrarFormulario"
  [title]="modalTitle"
  [template]="formTemplate"
  (cerrar)="cerrarFormulario()">
</app-dynamic-modal>

<app-dynamic-modal
  [show]="mostrarModalEliminar"
  [title]="'Confirmar eliminación'"
  [footerButton]="true"
  [template]="confirmarEliminar"
  (aceptar)="confirmarEliminarCategoria()"
  (cerrar)="mostrarModalEliminar = false">
</app-dynamic-modal>