<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ahorros </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrap-content">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Ahorros</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-button (click)="mostrarFormulario = !mostrarFormulario">
      {{ mostrarFormulario ? 'Cancelar' : 'Agregar' }}
    </ion-button>

    <div class="categorias-lista">
      <ul>
        @for (categoria of categorias(); let i = $index; track categoria.id) {
          <li>
            <span class="categoria-tipo" [ngClass]="categoria.type"
              >{{ categoria.type | titlecase }}</span
            >
            <span class="categoria-nombre">{{ categoria.name }}</span>
            <span class="categoria-cantidad"
              >{{ categoria.quantity | currency:'USD' }}</span
            >
            <div class="d-flex">
              <ion-button fill="clear" size="small" color="primary" (click)="editarCategoria(categoria, i)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="danger" (click)="eliminarCategoria(categoria.id)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </li>
        }
      </ul>
    </div>
    <h2 class="chart-title">Resumen General</h2>
    <app-bar-chart [categorias]="categorias()" chartType="bar"></app-bar-chart>
    <h2 class="chart-title">Ingresos</h2>
    <app-bar-chart [categorias]="ingresos" chartType="doughnut">
    </app-bar-chart>
    <h2 class="chart-title">Gastos</h2>
    <app-bar-chart [categorias]="gastos" chartType="doughnut"> </app-bar-chart>
  </div>
</ion-content>
<ng-template #formTemplate>
  <app-form
    [fields]="formFields"
    [defaultButton]="false"
    (submitForm)="agregarModificarCategoria($event)"
    (cancelar)="mostrarFormulario = false"
  >
  </app-form>
</ng-template>

<ng-template #confirmarEliminar let-categoria="categoria">
  <p>¿Estás seguro que deseas eliminar la categoría <strong>{{ categoria?.name }}</strong>?</p>
</ng-template>

<app-dynamic-modal
  [show]="mostrarFormulario"
  [title]="'Agregar o editar ahorro'"
  [template]="formTemplate"
  (cerrar)="mostrarFormulario = false">
</app-dynamic-modal>

<app-dynamic-modal
  [show]="mostrarModalEliminar"
  [title]="'Confirmar eliminación'"
  [footerButton]="true"
  [template]="confirmarEliminar"
  (aceptar)="confirmarEliminarCategoria()"
  (cerrar)="mostrarModalEliminar = false">
</app-dynamic-modal>