<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deudas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deudas</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-button expand="block" color="primary" (click)="mostrarFormulario = !mostrarFormulario">
    {{ mostrarFormulario ? 'Cancelar' : 'Agregar deuda' }}
  </ion-button>
  <app-form
    *ngIf="mostrarFormulario"
    [fields]="formFields"
    (submitForm)="agregarDeuda($event)"
    (cancelar)="mostrarFormulario = false">
  </app-form>

  <ion-list>
    <ion-item *ngFor="let deuda of deudas; let i = index">
      <ion-label>
        <strong>{{ deuda.name }}</strong><br>
        {{ deuda.description }}<br>
        Monto: {{ deuda.amount | currency:'USD' }}<br>
        <!-- Fecha: {{ deuda.fecha | date:'dd/MM/yyyy' }}<br>
        Interés: {{ deuda.interes }}% ({{ deuda.tipoInteres | titlecase }}) -->
      </ion-label>
      <div class="d-flex">
            <ion-button fill="clear" size="small" color="primary" (click)="editarDeuda(deuda, i)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" size="small" color="danger" (click)="eliminarDeuda(deuda.id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </div>
    </ion-item>
  </ion-list>
</ion-content>
<ng-template #confirmarTemplate let-deuda="deuda">
  <p>¿Estás seguro que deseas eliminar la deuda <strong>{{ deuda?.nombre }}</strong>?</p>
</ng-template>

<app-dynamic-modal
  [show]="mostrarModalEliminar"
  [title]="'Confirmar eliminación'"
  [template]="confirmarTemplate"
  (aceptar)="confirmarEliminarDeuda()"
  (cerrar)="mostrarModalEliminar = false">
</app-dynamic-modal>