<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Deudas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Deudas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list class="card-list">
    @for (deuda of deudas(); track $index) {
      <ion-item >
        <ion-label class="card-item">
          <strong>{{ deuda.name }}</strong><br>
          {{ deuda.description }}<br>
          <div class="d-flex justify-content-between align-items-center">
           <span>Monto: {{ deuda.amount | currency:'USD' }}</span> 
            <div class="d-flex">
              <ion-button fill="clear" size="small" color="primary" (click)="editarDeuda(deuda, $index)">
                <ion-icon slot="icon-only" name="create-outline"></ion-icon>
              </ion-button>
              <ion-button fill="clear" size="small" color="danger" (click)="eliminarDeuda(deuda)">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </ion-label>
        
      </ion-item>
    }
  </ion-list>
  <ion-button expand="block" color="primary" (click)="mostrarFormulario.set(true)">
    {{ mostrarFormulario() ? 'Cancelar' : 'Agregar deuda' }}
  </ion-button>
  <app-notification [message]="toastMessage()" [colorType]="colorType" [duration]="4000"></app-notification>
</ion-content>
<ng-template #formTemplate>
  <app-form
    [fields]="formFields"
    [idValue]="editarId"
    (submitForm)="agregarEditarDeuda($event)"
    (cancelar)="mostrarFormulario.set(false)">
  </app-form>
</ng-template>

<ng-template #confirmarTemplate let-deuda="deuda">
  <p>¿Estás seguro que deseas eliminar la deuda <strong>{{ deudaAEliminar.name }}</strong>?</p>
</ng-template>

<app-dynamic-modal
  [show]="mostrarFormulario()"
  [title]="'Agregar deuda'"
  [template]="formTemplate"
  (cerrar)="mostrarFormulario.set(false)">
</app-dynamic-modal>

<app-dynamic-modal
  [show]="mostrarModalEliminar"
  [title]="'Confirmar eliminación'"
  [template]="confirmarTemplate"
  [footerButton]="true"
  (aceptar)="confirmarEliminarDeuda()"
  (cerrar)="mostrarModalEliminar = false">
</app-dynamic-modal>