<ion-modal [isOpen]="show" (didDismiss)="onCerrar()">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="onCerrar()">Cerrar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ng-container *ngTemplateOutlet="template"></ng-container>
      <ion-footer>
        <ion-button expand="block" color="primary" (click)="onAceptar()">Aceptar</ion-button>
      </ion-footer>
    </ion-content>
  </ng-template>
</ion-modal>