<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Resumen General
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-slides [slides]="slides()"></app-slides>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ahorros</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Total: {{ ahorrosTotales$ | async | currency:'USD' }}
    </ion-card-content>
  </ion-card>
<!-- por el momento no muestro el total de las inversiones 
 porque no cuento con un endpoint que haga esto -->
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Inversiones</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Total: {{ totalInversiones | currency:'USD' }}
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Deudas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Total: {{ deudasTotales$ | async | currency:'USD' }}
    </ion-card-content>
  </ion-card>

  <!-- <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Balance Neto</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ ((ahorrosTotales$ | async  + totalInversiones - totalDeudas) | currency:'USD' }}
    </ion-card-content>
  </ion-card> -->
</ion-content>