<ion-card class="formulario-categoria">
  <form [formGroup]="categoriaForm" (ngSubmit)="submit()">
    <ng-container *ngFor="let field of fields">
      <ion-item *ngIf="field.type === 'select'">
        <ion-label position="floating">{{ field.label }}</ion-label>
        <ion-select [formControlName]="field.name">
          <ion-select-option *ngFor="let opt of field.options" [value]="opt.value">{{ opt.label }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="field.type !== 'select'">
        <ion-label position="floating">{{ field.label }}</ion-label>
        <ion-input *ngIf="field.type !== 'date'" [type]="field.type" [formControlName]="field.name"></ion-input>
        <ion-datetime *ngIf="field.type === 'date'" [formControlName]="field.name"></ion-datetime>
      </ion-item>
    </ng-container>
    @for (item of errors; track $index) {
      <span class="text-danger">{{item}}</span>
    }
    <ion-button expand="block" type="submit" [disabled]="categoriaForm.invalid">Guardar</ion-button>
    <ion-button expand="block" color="medium" type="button" (click)="onCancel()">Cancelar</ion-button>
  </form>
</ion-card>