<ion-card class="formulario-categoria">
  <form [formGroup]="categoriaForm" (ngSubmit)="submit()">
    @for (field of fields; track $index) {
      @if (field.type === 'select') {
        <ion-item >
          <ion-label position="floating">{{ field.label }}</ion-label>
          <ion-select [formControlName]="field.name">
            @for (opt of field.options; track $index) {
              <ion-select-option [value]="opt.value">{{ opt.label }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
      }
      @else {
        <ion-item>
          <ion-label position="floating">{{ field.label }}</ion-label>
          @if (field.type !== 'date') {
            <ion-input [type]="field.type" [formControlName]="field.name"></ion-input>
          } @else {
            <ion-datetime [formControlName]="field.name"></ion-datetime>
          }
          
        </ion-item>
      }
    }
    @for (item of errors; track $index) {
      <span class="text-danger">{{item}}</span>
    }
    <ion-button expand="block" type="submit" style="margin-top: 1rem;" [disabled]="categoriaForm.invalid">{{submitText()}}</ion-button>
    @if (defaultButton()) {
      <ion-button expand="block" color="medium" type="button" (click)="onCancel()">Cancelar</ion-button>
    } @else {
      <ng-content></ng-content>
    }
  </form>
</ion-card>